# Игнорируем скачанные бинарники провайдеров и модулей
.terraform/

# Игнорируем файлы состояния (даже временные)
*.tfstate
*.tfstate.*

# Игнорируем локальные файлы конфигурации (переменные с паролями)
*.tfvars
*.tfvars.json
terraform.rc
